<mat-card [ngStyle]="{'border-color': getColor()}" class="mb-3">
    
    <h4 [ngStyle]="{color: getColor()}">Device: {{deviceName}}  -- Statut: {{ getStatus() }} </h4>


    <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Enter a Device Name...</mat-label>
        <input matInput type="text" [(ngModel)]="deviceName" >
    </mat-form-field>

    <br>
    <a [routerLink]="[id]">Détail</a>

    <div style="margin-left: 95%;">
        <button *ngIf="getStatus() === 'Off'; else elseBlock" class="btn btn-success" (click)="onSwitch()">On</button>
            &nbsp;
        <ng-template #elseBlock>
            <button  class="btn btn-danger"  (click)="onSwitch()">Off</button>
        </ng-template>
    </div>
</mat-card>