<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My Devices</h2>
      <ul class="list-group">
        <app-device deviceName="PC" deviceStatut="On"></app-device>
        <app-device deviceName="Television" deviceStatut="Off"></app-device>
        <app-device deviceName="Imprimante" deviceStatut="On"></app-device>
        <app-device deviceName="Keyboard" deviceStatut="Off"></app-device>
      </ul>
    </div>
  </div>
<button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">
  Start All
</button>

</div>

<div class="container">
  <div class="row">
      <div class="col-md-4">
        <app-facture></app-facture>
      </div>
  </div>
</div>