<div class="col-xs-12 mb-5">
    <h2 class="mb-2 text-center">Devices Control Center</h2>

    <button class="btn btn-success mb-2" data-toggle="modal" data-target="#addDevice">
      <i class="fa fa-plus"></i>New Device
    </button>

    <ul class="list-group">

      <app-device *ngFor="let device of devices; let i = index"
       
                  [deviceName]="device.name" 
                  [deviceStatus]="device.status" 
                  [deviceIndex]="i" 
                  [id]="device.id" >

      </app-device>

    </ul>
</div>


<div style="margin-left: 80%;">
  <button class="btn btn-success" (click)="switchOnAll()">
    Start All | {{deviceOn }}
  </button>
    &nbsp;
  <button class="btn btn-danger"(click)="switchOffAll()">
    Stop All | {{deviceOff }}
  </button>

</div>



<!-- Modal For adding new Device-->

<div class="modal fade" id="addDevice" tabindex="-1" role="dialog" aria-labelledby="addDevice">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-plus"></i>Add New Device</h5>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(formAddDevice)" #formAddDevice="ngForm" >
          <div class="form-group">
            <label for="name">
              Nom de l'appareil
            </label>
            <input type="text" id="name" name="deviceName" class="form-control" ngModel>
          </div>
          <div class="form-group">
            <label for="status">
              État de l'appareil
            </label>
            <select id="status" name="deviceStatut" class="form-control" ngModel>
              <option value="allumé">Allumé</option>
              <option value="éteint">Éteint</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit">Enregistrer</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>